*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: IRANSansWeb;
    background: #fff;
    direction: rtl;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    position: relative;
}

.main-nav{
    text-align: center;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 15px;
    width: 100%;
    position: relative;
}

.main-nav .logo{
    width: 110px;
    margin-right: 80px;
}


.main-nav ul.main-menu{
    margin-right: 20px;
    display: flex;
}

.main-nav ul li{
    padding: 0 14px;
}

.right-menu{
    display: flex;
    padding-left: 100px;
}

.dropdown ul{
    position: relative;
}


.dropdown{
    position: absolute;
    top: 60%;
    width: 10rem;
    background: #0072ff;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.8s;

}

.dropdown-link a{
    display: flex;
    color: #fff;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    right: 20px;
    background: #0072ff;
    transform: rotate(45deg);
}

nav-link a{
    padding-bottom: 5px;
}

.main-menu .nav-link button#menu-btn{

     background: rebeccapurple;
     color: #fff;
     font-size: 16px;
}
.nav-link:hover .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}

ul.right-menu li .hamburger-menu-container{
    display: none;
}

.logo-for-mobileMode{
    display: none;
}

.nav-link > a > i{
    transform: rotate(180deg);
}
.nav-link:hover > a > i{
    transform: rotate(360deg);
}

@media (max-width: 1104px) {

    .logo{
        display: none;
    }
    .main-nav ul.main-menu{
        display: none;
    }


    .hamburger-menu-container{
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        display: none;
    }

    .hamburger-menu{
        width: 2.5rem;
        height: 2.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu div{
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background: #1327f6;
        position: relative;
    }
    .hamburger-menu div:before,
    .hamburger-menu div:after{
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background: #1327f6;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .5s ease-in-out;
    }

    .hamburger-menu div:before{
        transform: translateY(-7px);
    }
    .hamburger-menu div:after{
        transform: translateY(7px);
    }


    .right-menu{
        display: flex;

        flex-wrap: revert;
    }
    .inter-face{
        display: flex;

        flex-wrap: revert;
    }
    .hamburger-menu-container{
        display: block;
    }

    .logo-for-mobileMode{
        display: block;
    }

    .main-nav ul.main-menu{
        display: block;
        width: 50%;
        background: #1327f6;
        right: 0;
        position: fixed;
        height: calc(100vh - 3rem);
        top: 5rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        line-height: 60px;
        z-index: 200;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .5s;
    }

    .main-nav ul.main-menu.show{
        transform: translateX(10px);
    }

    .main-nav ul.main-menu li{
        line-height: 60px;
        text-align: right;
    }

    .nav-link:hover .dropdown{
        display: block;
    }



    .nav-link{
        width: 100%;
    }
    .main-menu li a{
        line-height: 1;
        padding: .8rem 2rem;
    }

    .main-menu li:hover a{
        transform: scale(1);
    }

    .dropdown{
        position: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
        pointer-events: auto;
        width: 100%;
        opacity: 1;
        line-height: 1;
        margin: 0;
        background: #394bf8;
        display: none;
        padding: 0;
    }

    .dropdown:hover{
        display: block;
    }




    .arrow{
        z-index: 1;
        background: #394bf8;
    }

    .dropdown-link a{
        background: transparent;
        top: 20px;
        padding: 1.2rem 2rem;
    }
    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

}

.hamburger-menu.open div{
    background: transparent;
    transition: all 0.3s;
}

.hamburger-menu.open div:before{
    transform: translateY(0) rotate(-45deg);
    background: #940000;
}

.hamburger-menu.open div:after{
    transform: translateY(0) rotate(45deg);
    background: #940000;
}

@media (max-width: 700px){
    .right-menu{
        display: flex;
        padding-right: 50px;
    }
    .hamburger-menu{
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
